<h1>You're on the create page of gossip</h1>
<br/>
<div>
	<!-- Etant donné que l'on utilise le même formulaire dans new et edit, on utilise un partial pour créer le formulaire et on l'appelle avec render -->
	<%= render "gossips/form" %>
</div>